h1{
    text-align:center;
    font-size: 75px;
    padding-top: 200px;
    color:rgba(236, 236, 236, 0.9)
}
body{
    background:
    url(https://i.imgur.com/9mv2XGt.gif);
    background-size: 100% 120%;
}